<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8lVfwO7ZQJaJqS8XR61Wt_txV4cbHin0</string>
	<key>GCM_SENDER_ID</key>
	<string>202317038362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trelloTasksSync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trello-tasks-sync</string>
	<key>STORAGE_BUCKET</key>
	<string>trello-tasks-sync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202317038362:ios:c46b5f32a14a3f34f4a2a3</string>
</dict>
</plist>